body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 600px;
}

.jumbotron {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 2px 24px;
  font-size: 21px;
}

.onepx {
  width: 1px;
}
